.footer
  background-color: $dark
  padding-top: 100px
  padding-bottom: 150px
  &__logo
    margin-bottom: 20px
  &__download
    margin-bottom: 20px
    display: block
  &__title
    display: block
    color: #fff
    text-decoration: none
    margin-bottom: 48px
  &-menu
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    list-style-type: none
    li
      margin-bottom: 12px
      line-height: 1
      &:last-child
        margin-bottom: 0
      a
        color: $gray
        line-height: 20px
        &:hover
          color: $yellow

  &__questions
    margin-top: 80px
    color: #5E5568
    line-height: 24px


  &__callme
    color: $yellow
    line-height: 24px